*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/*------------------------------
HEADER
------------------------------*/

header{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: black;
}

.box{
  background-color: grey;
  border-radius: 5px;
  padding: 5px 10px;
}

.box.screenview{
  margin-right: 10px;
}

.box.expand{
  margin-right: -5px;
}

/*------------------------------
MAIN
------------------------------*/

main{
  height: calc(100vh - 40px - 80px);
  background-color: cornflowerblue;
}

/*------------------------------
FOOTER
------------------------------*/

footer{
  height: 80px;
  background-color: darkslategrey;
}